wheel
nbsphinx
nbsphinx_link
sphinx_rtd_theme
sphinx #==5.0.2
jinja2 #<3.1
ipykernel
stardist
cellpose<3
scikit-learn
btrack
tensorflow~=2.15.0
#tensorflow #<=2.12.1
#keras==2.15.0
napari
tqdm
mahotas
fonticon-materialdesignicons6
art
lifelines
setuptools
scipy
seaborn
opencv-python-headless==4.7.0.72
#PyQt5==5.15.7
liblapack
gputools
lmfit #~=1.2.2
superqt[cmap] #>= 0.6.1
setuptools
matplotlib_scalebar
numpy==1.26.4
pytest
pytest-qt
h5py
cliffs_delta