wheel
nbsphinx
nbsphinx_link
sphinx_rtd_theme
sphinx==5.0.2
jinja2<3.1
ipykernel
PyQt5==5.15.7
stardist
cellpose
scikit-learn
btrack
tensorflow
napari
tqdm
mahotas
fonticon-materialdesignicons6
art
lifelines
setuptools
scipy
seaborn
opencv-python==4.7.0.72
liblapack
