wheel
numpy==1.23.0
tifffile==2020.10.1
pandas==1.4.2
glob2
natsort==7.1.1
tqdm
scipy==1.8.1
configparser==5.0.2
gc-python-utils==0.0.1
opencv-python-headless
pytest-shutil
csbdeep
btrack
nbsphinx
nbsphinx_link
screeninfo
art
tensorflow
pyqt5
ascii_graph==1.5.1
matplotlib
stardist
superqt
lifelines
waiting
cellpose
mahotas
fonticon-materialdesignicons6
